html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background:transparent none repeat scroll 0 0;border:0 none;margin:0;outline-color:-moz-use-text-color;outline-style:none;outline-width:0;padding:0; list-style: none;}
body, html {margin: 0; padding: 0;}

body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #3c3c33;
  background: #F5F6F7;
  font-size: 14px;
  line-height: 20px;
  padding-top: 30px;
}
body.print {
  background: #fff;
  padding-top: 0;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  @include box-shadow(rgba(0,0,0,0.2) 2px 2px 2px);
  @include background(linear-gradient(#323232, #232323));
  
  .container {
    width: 940px;
    margin: 0 auto;
  }

  .brand {
    color: #fff;
    float: left;
    display: block;
    padding: 8px 20px 12px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    text-decoration: none;
  }
  nav {
    display: inline-block;
    li {
      display: inline-block;
      color: #999;
      a {
        color: #999;
        text-decoration: none;
        padding: 10px 10px 11px;
        display: block;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .contact {
    font-size: 16px;
    color: #fff;
    float: right;
    vertical-align: top;
    padding: 8px 0 12px;
  }
}

a {
  color: #15c;
}

h1 {
  color: #3D6A7D;
  font-size: 50px;
  line-height: 60px;
  font-weight: bold;
  margin: 0;
}
.full-name {
  display: inline-block;
}

.me {
  padding: 5px;
  background: #fff;
  border: 1px solid #bbb;
  font-size: 0;
  @include border-radius(5px);
  @include box-shadow(rgba(0,0,0,0.2) 2px 2px 2px);
  img {
    display: block;
  }
}
.me-wrapper {
  position: absolute;
  padding-left: 30px;
  top: 50px;
  right: 70px;
  background: #fff;
}

.print .me-wrapper {
  top: 10px;
  right: 0;
}

.page {
  position: relative;
  background: #fff;
  margin: 10px auto;
  padding: 50px 70px;
  width: 790px;
  border: 1px solid #bbb;
  @include box-shadow(0 0 6px 0 #999);
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}

.print .page {
  @include box-shadow(0 0 0 0);
  border: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 890px;
}

.group {
  margin-top: 30px;
  padding-bottom: 5px;
}
.group h2 {
  color: #3D6A7D;
  margin: 10px 0;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
}

.skills h3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.skill-group {
  vertical-align: top;
  text-align: left;
  display: inline-block;
  width: 217px;
  padding: 10px;
  margin-right: 10px;
  border-right: 1px solid #bbb;
}
.skill-group:last-child {
  border-right: none;
  margin-right: 0;
}
.skills h3 {

}
.skill {
  display: inline-block;
  box-shadow: 0px 0px 5px 0px #000;
  border-radius: 5px 5px 5px 5px;
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #eee 100%);
  border: 2px solid #fff;
  padding: 5px;
}
.skill h4 {
  text-align: center;
}
.skill p {
  font-size: 13px;
}

.hobbies li {
  vertical-align: top;
  opacity: 0.8;
  text-align: center;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
  padding: 1px;
  margin-bottom: 0;
}
.hobbies .icon-wrapper {
  box-shadow: 0px 0px 5px 0px #000;
  border-radius: 5px 5px 5px 5px;
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #eee 100%);
  border: 2px solid #fff;
  padding: 1px;
}
.hobbies li:hover {
  box-shadow: 0px 0px 5px 0px #000;
  border-radius: 5px 5px 5px 5px;
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #eee 100%);
  padding: 1px;
  opacity: 1;
}
.hobbies li:hover .icon-wrapper {
  box-shadow: 0px;
  border-radius: 0;
  background-image: transparent;
  border: 2px solid #fff;
  padding: 1px;
  box-shadow: 0px 0px 0 0px #000;
}
.hobbies h4 {
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 12px;
  color: #3c3c33;
  font-weight: bold;
}
.hobbies .icon {
  display: block;
  width: 40px;
  height: 40px;
  padding: 5px;
}

@import "hobbies-icons/*.png"; // */

.hobbies .internet .icon {
  @include hobbies-icons-sprite(internet);
}
.hobbies .cycling .icon {
  @include hobbies-icons-sprite(cycling);
}
.hobbies .swimming .icon {
  @include hobbies-icons-sprite(swimming);
}
.hobbies .traveling .icon {
  @include hobbies-icons-sprite(traveling);
}
.hobbies .coffee .icon {
  @include hobbies-icons-sprite(coffee);
}
.hobbies .photography .icon {
  @include hobbies-icons-sprite(photography);
}
.hobbies .speedway .icon {
  @include hobbies-icons-sprite(speedway);
}
.hobbies .poker .icon {
  @include hobbies-icons-sprite(poker);
}
.hobbies .pool .icon {
  @include hobbies-icons-sprite(pool);
}

h2 {
  font-size: 18px;
}

dl {
  display: block;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  dt {
    text-align: right;
    color: #3D6A7D;
    width: 25%;
    margin-left: -20px;
    padding-right: 15px;
    display: inline-block;
    vertical-align: top;
  }
  dd {
    display: inline-block;
    width: 75%;
    margin-bottom: 10px;
    strong {
      color: #3D6A7D;
      font-weight: bold;
    }
    ul {
      list-style: circle;
      margin-left: 18px;
      li {
        list-style: circle;
        margin-bottom: 5px;
      }
    }
  }
}

.stars-wrapper {
  width: 60px;
  display: inline-block;
  background: url(/assets/iconic/gray_light/star_12x12.png) 0 0 repeat-x;
  height: 12px;
  font-size: 0;
  margin-right: 5px;
}
.stars {
  background: url(/assets/iconic/blue/star_12x12.png) 0 0 repeat-x;
  display: inline-block;
  width: 12px;
  height: 12px;
}
.stars-5 {
  width: 60px;
}
.stars-4-5 {
  width: 54px;
}
.stars-4 {
  width: 48px;
}
.stars-3 {
  width: 36px;
}
.stars-2 {
  width: 24px;
}

#skills_group {
  dl dd p {
    margin-top: 5px;
    display: block;
  }
  dl dd strong {
    display: inline-block;
    min-width: 100px;
  }
  .server-maintenance {
    li {
      width: auto;
      display: inline-block;
    }
  }
}

#work_experience_group {
  .occupation {
    font-weight: bold;
  }
}

@import "find-me-icons/*.png"; // */

#find_me_group {
  .find-me-icon {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: 5px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }


  .icon-facebook {
    @include find-me-icons-sprite(facebook);
    vertical-align: middle;
  }
  .icon-google-plus {
    @include find-me-icons-sprite(google-plus);
    vertical-align: middle;
  }
  .icon-github {
    @include find-me-icons-sprite(github);
    vertical-align: middle;
  }
}

