%dl
  %dt= t(".school") 
  %dd
    %strong= t(".school_value") 
    (2003-2006)
  - if I18n.locale == :en
    %dt Subjects covered
    %dd Mathematics, Science, English, Polish, Biology, Information Technology, History

  %dt= t(".specialization") 
  %dd= t(".specialization_value") 
