%ul
  %li.internet
    .icon-wrapper
      .icon
    %h4 Internet
  %li.swimming
    .icon-wrapper
      .icon
    %h4 Swiming
  %li.cycling
    .icon-wrapper
      .icon
    %h4 Cycling
  %li.traveling
    .icon-wrapper
      .icon
    %h4 Traveling
  %li.speedway
    .icon-wrapper
      .icon
    %h4 Speedway
  %li.fashion
    .icon-wrapper
      .icon
    %h4 Fashion

