%ul
  %li.internet
    .icon-wrapper
      .icon
    %h4 Internet
  %li.swimming
    .icon-wrapper
      .icon
    %h4 Swimming
  %li.cycling
    .icon-wrapper
      .icon
    %h4 Cycling
  %li.traveling
    .icon-wrapper
      .icon
    %h4 Traveling
  %li.speedway
    .icon-wrapper
      .icon
    %h4 Watching <br> Speedway
  %li.pool
    .icon-wrapper
      .icon
    %h4 Pool
  %li.poker
    .icon-wrapper
      .icon
    %h4 Texas <br> Holdem
