%dl
  %dt Nationality
  %dd Polish
  %dt Gender
  %dd Male
  %dt Marital Status
  %dd Single
  %dt Date of birth
  %dd 4th of september 1987
  %dt Full Address
  %dd
    Walczaka 57/6,
    %br
    66-400 Gorzów, Poland
  %dt Phone number
  %dd +48 7222 36066
  %dt Email address
  %dd adam.dratwinski@gmail.com
  %dt Website
  %dd adam.itboys.pl
  %dt Languages
  %dd
    Polish - native
    %br English - fluent
