%dl
  %dt Company
  %dd
    %strong American Systems 
    (from 2009-09 to now)
  %dt Occupation
  %dd.occupation Project Manager, Ruby On Rails Developer
  %dt Responsibilities
  %dd.responsibilities
    %ul
      %li managing and controlling work of small teams (6 programmers)
      %li design and developing two big ERP systems (over 80 databases tables each)
      %li analysis and collection of requirements from customers
      %li organizing the applications testing 
      %li interviewing
      %li developing poopular web service (600 000 page views per month)
      %li creation of a dozen or so pages that are based on CMS
      %li creation of three web services
      %li programming web applications based on Ruby (Ruby on Rails), PHP (Kohana, Symfony, codeigniter), Javascript (node.js, backbone.js, jQuery, extJS, prototype)
      %li code optimalization - detecting and rewraiting slow quiries

%dl
  %dt Company
  %dd
    %strong Inspireo.com
    (from 2008-04 to 2009-09)
  %dt Occupation
  %dd.occupation PHP Developer, Unix Administrator
  %dt Responsibilities
  %dd.responsibilities
    %ul
      %li creating HTML code, based on PSD files
      %li instalation and personalization of internet application -  e-commerce: SOTE 4, SOTE 5, quickCart and WordPress, Joomla, Mantis
      %li programming web applications based on PHP, JavaScript, jQuery
      %li installation and maintenance of dedicated server with DirectAdmin software
