%dl
  %dt Company
  %dd
    %strong American Systems 
    (from 2009-09 to now)
  %dt Occupation
  %dd.occupation Project Manager, Ruby On Rails Developer
  %dt Responsibilities
  %dd.responsibilities
    %ul
      - 10.times do |i|
        %li= t(".exp_resp_1_#{i+1}")

%dl
  %dt Company
  %dd
    %strong Inspireo.com
    (from 2008-04 to 2009-09)
  %dt Occupation
  %dd.occupation PHP Developer, Unix Administrator
  %dt Responsibilities
  %dd.responsibilities
    %ul
      - 4.times do |i|
        %li= t(".exp_resp_2_#{i+1}")
